<!DOCTYPE html><html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>NoGtube - YouTube FOSS Player</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Theme set / fallback if not found -->
  <link id="theme-link" rel="stylesheet">

</head>
<body>
  <h1 data-lang="title">📺 Trình phát YouTube FOSS</h1>
  <div id="search-bar">
    <input id="query" placeholder="Tìm kiếm video..." />
    <select id="quality">
      <option value="best">Mặc định</option>
      <option value="best[height<=720]">720p</option>
      <option value="best[height<=480]">480p</option>
    </select>
    <button onclick="startSearch()">🔍</button>
  </div>

  <div id="loading" data-lang="searching">⏳ Đang tìm kiếm...</div>
  <ul id="results"></ul>
  <div id="load-more"><button data-lang="btn_more" onclick="loadMore()">Tải thêm...</button></div>

  <div id="player-container">
    <h2 data-lang="now_playing">🎬 Đang phát</h2>
    <video id="player" controls></video>
  </div>
  <!-- JS -->
  <script src="/static/main.js"></script>
</body>
<footer id="pagefoot">
  <br></br>
  <h5>Made with 💖 by <a href="https://github.com/quydev-fs">@quydev-fs</a></h5>
  <h6>Config Status</h6>
  <p id="configinfo-lang"></p>
  <p id="configinfo-theme"></p>
  <br></br>
</footer>
</html>
